apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: jaiminops18/go-app:cdd4759f44bc8670db0b8a921ef1e4600bc5650c
        ports:
        - containerPort: 8080
