apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: jaiminops18/go-app:f67b64b325c801447278ce797e5116abaca12ac5
        ports:
        - containerPort: 8080
