apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: jaiminops18/go-app:d912e334f2b2fa3563d513530f9c55fb3d004ae2
        ports:
        - containerPort: 8080
