apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: jaiminops18/go-app:628c916140a6f2c16536c15b90b1ccac8f7685ad
        ports:
        - containerPort: 8080
