apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      # Pod-Level Security Context
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      # 1. Main Application Container
      - name: go-app
        image: ghcr.io/jaimindevops/go-app:bcb4cf6fe20cb5f7fa2a6aee9e51bf568823761e
        ports:
        - containerPort: 8080
        env:
        - name: REDIS_URL
          value: "redis-service:6379"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "128Mi"

      # 2. Sidecar Container (Netshoot)
      - name: sidecar
        image: ghcr.io/jaimindevops/go-app:bcb4cf6fe20cb5f7fa2a6aee9e51bf568823761e
        # Keep the container running indefinitely so you can exec into it
        command: ["/bin/bash"]
        args: ["-c", "while true; do sleep 30; done;"]
        # Override security context because network tools often need root
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
