apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      # 1. Main Application
      - name: go-app
        image: ghcr.io/jaimindevops/go-app:e440513
        ports:
        - containerPort: 8080
        env:
        - name: REDIS_URL
          value: "redis-service:6379"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "128Mi"

      # 2. Sidecar (CORRECT IMAGE: Alpine)
      - name: sidecar
        image: public.ecr.aws/docker/library/alpine:latest
        command: ["/bin/sh", "-c", "sleep 3600"]
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
